@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

.banner {
    background: url('./assets/images/netflix\ banner.jpg');
    background-position: center;
    background: cover;
}
.no-scroll::-webkit-scrollbar{
    scrollbar-width: none;
}

@media screen and (min-width:320px) and (max-width:468px) {
    .svg-icon{
        width: 80px;
    }
}

@media screen and (min-width:469px) and (max-width:900px) {
    .svg-icon{
        width: 120px;
    }
}